@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@font-face {
  font-family: "franchise";
  src: url(Franchise.ttf);
}

* {
  font-optical-sizing: auto;
  font-weight: inherit;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  margin: 0;
  padding: 0;
}

::selection {
  background: white;
  color: #ed6121;
}

html {
  background-color: #f4e8db;
}

.App {
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  align-items: end;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
}

.topper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.recent-button {
  margin-right: 20px;
  color: #fc935c;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.mail-button {
  margin-right: 20px;
  color: #7293cd;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.mail-pushable {
  background: #516e9f;
  border-radius: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 7px;
  border: 3px solid #81a3de;
}
.mail-front {
  display: block;
  padding: 0px 8px;
  border-radius: 100px;
  background: white;
  border: 3px solid #81a3de;
  transform: translateY(-8px);
}

.mail-front:hover {
  background: white;
}

.mail-pushable:active .mail-front {
  transform: translateY(-3px);
}

.pushable {
  background: #dd5a1d;
  border-radius: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 7px;
  border: 3px solid #fc935c;
}
.front {
  display: block;
  padding: 8px 17px;
  border-radius: 100px;
  background: white;
  border: 3px solid #fc935c;
  transform: translateY(-8px);
}

.front:hover {
  background: white;
}

.pushable:active .front {
  transform: translateY(-3px);
}

.slide-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  /* border-left: 10px solid #d7b42d; */
  align-items: start;
  justify-content: start;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.slide-container::-webkit-scrollbar {
  display: none;
}

.close-button {
  position: fixed;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  color: #7293cd;
  padding: 10px 10px 10px 20px;
  cursor: pointer;
  background-color: #f9efe7;
}

.close-button:hover {
  color: #81a3de;
}

.slide-out {
  width: 0px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f9efe7;
  transition: 0.7s cubic-bezier(0, 0.52, 0, 1);
  z-index: 1;
  overflow: scroll;
}

.right-nav {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: end;
  gap: 10px;
  align-items: center;
  width: 40%;
}

.left-nav {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 40%;
  padding-left: 15px;
}

.build-button {
  border-radius: 20px;
  text-align: center;
  font-weight: 700;
  padding: 3px 10px;
  font-size: 1rem;
  text-transform: uppercase;
  color: white;
  background-color: #f4e8db;
  border: 3px solid white;
  font-family: "Inconsolata", monospace;
  overflow: hidden;
}

.build-button:hover {
  text-shadow: 2px 2px #d7b42d;
  box-shadow: 2px 2px #d7b42d;
  cursor: pointer;
}

.social {
  color: white;
}

.social:hover {
  filter: drop-shadow(2px 2px #d7b42d);
  cursor: pointer;
}

.home {
  color: #fc935c;
  transition: 0.2s;
}

.home:hover {
  filter: drop-shadow(2px 2px white);
  cursor: pointer;
}

.question {
  background-color: white;
  color: #fc935c;
  font-weight: 500;
  position: fixed;
  bottom: 10px;
  right: 10px;
  padding: 5px 15px;
  border-radius: 50px;
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  text-transform: uppercase;
  transition: 2s;
}

.question:hover {
  cursor: pointer;
}

.project-box {
  margin-left: 5px;
  margin-bottom: 20px;
  height: 280px;
  width: 260px;
  border-radius: 35px;
  border: 4px solid #7293cd;
  background-color: white;
  font-family: "Inconsolata", monospace;
  background-position: top;
  background-size: cover;
}

.project-box:hover {
  box-shadow: 7px 7px #d7b42d;
  cursor: pointer;
  border-color: #81a3de;
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 86vh;
}

h1 {
  margin-top: 40px;
  font-size: 10em;
  font-family: "Franchise", serif;
  -webkit-animation: flicker-in-2 2s linear both;
  animation: flicker-in-2 2s linear both;
}

.blue {
  color: #7293cd;
}

.red {
  color: #ed6121;
}

.pink {
  color: #fc935c;
}

.yellow {
  color: #d7b42d;
}

.sub-head-flasher {
  width: 60%;
  margin: 20px 0px 30px 0px;
  background-color: white;
  border: 3px solid #ed6121;
  color: #ed6121;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 6px;
  box-shadow: 7px 7px #ed6121;
  -webkit-animation: flicker-in-2 2s linear both;
  animation: flicker-in-2 2s linear both;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.marquee {
  background-color: #ed6121;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 2.6rem;
  text-transform: uppercase;
  padding: 5px;
  overflow: hidden;
  text-align: center;
}

.slideout-info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  overflow: hidden;
}

.slideout-info p {
  width: 50%;
  padding: 50px 10px;
  font-family: "Inconsolata", monospace;
  font-size: 1.3rem;
  color: #fc935c;
  text-align: center;
}

.contact-me {
  background-color: #f4e8db;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  width: 95%;
  margin-top: 50px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1.4rem;
  text-transform: uppercase;
  max-width: 390px;
  width: 96%;
  border-radius: 10px;
  padding: 10px 2%;
  margin: 10px 0;
  font-weight: 100;
  font-family: "Inconsolata", monospace;
  border: 3px solid #fc935c;
}

textarea {
  border: 3px solid #fc935c;
  font-size: 1.4rem;
  border-radius: 10px;
  text-transform: uppercase;
  max-width: 390px;
  width: 96%;
  padding: 10px 2%;
  margin: 10px 0;
  height: 20vh;
  resize: none;
  font-weight: 100;
  font-family: "Inconsolata", monospace;
}

::placeholder {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Inconsolata", monospace;
}

.red-bg {
  border-color: #ed6121;
}

form button {
  color: white;
  font-size: 1.8rem;
  background-color: #d7b42d;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 10px 30px;
  margin: 30px 0;
  text-align: center;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
}

/* form button:hover {
  background-color: #7293cd;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 5px 5px white;
} */

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 7px 7px #fc935c;
  transition: 0.5s;
}

footer {
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  background-color: #fc935c;
  border-top: 12px solid white;
}

footer .contact {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  font-weight: 500;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  color: white;
  text-align: left;
}

footer p {
  font-size: 1.8em;
}

footer h3 {
  margin-top: 15px;
  font-size: 1em;
  font-weight: 50;
}

.starbreak {
  margin: 60px 0px;
  height: 40px;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.project-page {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: 500;
  background-color: white;
  padding: 50px;
}

.project-page img {
  object-fit: cover;
  width: 50%;
}

.project-page-content {
  color: #7293cd;
  font-family: "Inconsolata", monospace;
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  text-align: left;
}

.project-page-content h1 {
  margin-top: 0;
  font-size: 1.8em;
  font-family: "Inconsolata", monospace;
  animation: none;
}

.project-page-content h3 {
  margin-left: 10px;
  margin-top: 0;
  font-size: 1.4em;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

.project-page-content p {
  font-size: 1em;
  color: #7293cd;
  font-family: "Inconsolata", monospace;
  margin: 20px 0;
}

.project-page-content a {
  margin-top: 30px;
  font-size: 1.8em;
  text-decoration: underline;
  color: #7293cd;
  font-family: "Inconsolata", monospace;
}

.project-page-content a:hover {
  color: #92b3ed;
  cursor: pointer;
}

.list {
  width: 100%;
}

.list-item {
  display: flex;
  flex-direction: row;
}

.list-item p {
  text-transform: uppercase;
  margin-left: 15px;
  font-size: 1.4em;
  margin-bottom: 10px;
}

@media screen and (max-width: 780px) {
  .project-page {
    flex-direction: column-reverse;
    padding: 50px 10px;
  }

  .project-page img {
    margin-top: 50px;
    width: 100%;
  }

  .project-page-content {
    width: 80%;
  }
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-16 23:23:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-2
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes grow-tall {
  0% {
    height: 0px;
  }

  100% {
    height: 200px;
  }
}

@keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 1100px) {
  .sub-head-flasher {
    width: 30%;
  }
}

@media only screen and (max-width: 600px) {
  .sub-head-flasher {
    width: 70%;
  }

  .marquee {
    font-size: 2.1rem;
  }
  .starbreak {
    background-size: cover;
  }
}

@media only screen and (max-width: 470px) {
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 8.5rem;
  }
}

@media only screen and (max-width: 370px) {
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 6.3rem;
  }
  .marquee {
    font-size: 1.5rem;
  }

  footer p {
    font-size: 1.5rem;
  }
  footer h3 {
    font-size: 1.2rem;
  }
  input {
    font-size: 1.1rem;
  }
  textarea {
    font-size: 1.1rem;
  }
}
