@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

@font-face {
  font-family: "franchise";
  src: url(Franchise.ttf);
}

* {
  font-optical-sizing: auto;
  font-weight: inherit;
  font-style: normal;
  font-variation-settings: "SOFT" 0, "WONK" 0;
  margin: 0;
  padding: 0;
}

::selection {
  background: white;
  color: #ed6121;
}

html {
  background-color: #f4e8db;
}

.App {
  margin: 0 auto;
}

header {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  align-items: end;
}

.topper {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.recent-button {
  margin-right: 20px;
  color: #fc935c;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.mail-button {
  margin-right: 20px;
  color: #7293cd;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.mail-pushable {
  background: #516e9f;
  border-radius: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 7px;
  border: 3px solid #81a3de;
}
.mail-front {
  display: block;
  padding: 0px 8px;
  border-radius: 100px;
  background: white;
  border: 3px solid #81a3de;
  transform: translateY(-8px);
}

.mail-front:hover {
  background: white;
}

.mail-pushable:active .mail-front {
  transform: translateY(-3px);
}

.pushable {
  background: #dd5a1d;
  border-radius: 100px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 7px;
  border: 3px solid #fc935c;
}
.front {
  display: block;
  padding: 8px 17px;
  border-radius: 100px;
  background: white;
  border: 3px solid #fc935c;
  transform: translateY(-8px);
}

.front:hover {
  background: white;
}

.pushable:active .front {
  transform: translateY(-3px);
}

.hero {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

h1 {
  margin-top: 40px;
  font-size: 10em;
  font-family: "Franchise", serif;
  -webkit-animation: flicker-in-2 2s linear both;
  animation: flicker-in-2 2s linear both;
}

.blue {
  color: #7293cd;
}

.red {
  color: #ed6121;
}

.pink {
  color: #fc935c;
}

.yellow {
  color: #d7b42d;
}

.sub-head-flasher {
  width: 60%;
  margin: 20px 0px 30px 0px;
  background-color: white;
  border: 3px solid #ed6121;
  color: #ed6121;
  text-transform: uppercase;
  border-radius: 50px;
  padding: 6px;
  box-shadow: 7px 7px #ed6121;
  -webkit-animation: flicker-in-2 2s linear both;
  animation: flicker-in-2 2s linear both;
}

h2 {
  font-size: 2.2em;
  font-weight: 700;
  font-family: "Inconsolata", monospace;
}

.marquee {
  background-color: #ed6121;
  color: white;
  font-family: "Inconsolata", monospace;
  font-weight: 400;
  font-size: 2.6rem;
  text-transform: uppercase;
  padding: 5px;
  overflow: hidden;
  width: 100%;
  border-bottom: 12px solid white;
  margin: 50px 0px;
}

.contact-me {
  width: 100%;
  padding: 20px 0px 100px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

form {
  width: 100%;
  margin-top: 50px;
  max-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  font-size: 1.4rem;
  text-transform: uppercase;
  max-width: 390px;
  width: 96%;
  border-radius: 10px;
  padding: 10px 2%;
  margin: 10px 0;
  font-weight: 100;
  font-family: "Inconsolata", monospace;
  border: 3px solid #fc935c;
}

textarea {
  border: 3px solid #fc935c;
  font-size: 1.4rem;
  border-radius: 10px;
  text-transform: uppercase;
  max-width: 390px;
  width: 96%;
  padding: 10px 2%;
  margin: 10px 0;
  height: 20vh;
  resize: none;
  font-weight: 100;
  font-family: "Inconsolata", monospace;
}

::placeholder {
  text-transform: uppercase;
  font-weight: 200;
  font-family: "Inconsolata", monospace;
}

.red-bg {
  border-color: #ed6121;
}

form button {
  color: white;
  font-size: 1.8rem;
  background-color: #d7b42d;
  text-transform: uppercase;
  border: 3px solid white;
  padding: 10px 30px;
  margin: 30px 0;
  text-align: center;
  font-weight: 600;
  font-family: "Inconsolata", monospace;
}

/* form button:hover {
  background-color: #7293cd;
  cursor: pointer;
  transition: 0.2s;
  box-shadow: 5px 5px white;
} */

textarea:focus,
input:focus {
  outline: none;
  box-shadow: 7px 7px #fc935c;
  transition: 0.5s;
}

footer {
  width: 96%;
  padding: 2%;
  display: flex;
  flex-direction: row;
  background-color: #fc935c;
  border-top: 12px solid white;
}

footer .contact {
  display: flex;
  width: 50%;
  flex-direction: column;
  justify-content: flex-end;
  margin: 20px;
  font-weight: 500;
  font-family: "Inconsolata", monospace;
  text-transform: uppercase;
  color: white;
}

footer p {
  font-size: 2.2em;
}

footer h3 {
  margin-top: 15px;
  font-size: 1.7em;
  font-weight: 50;
}

.starbreak {
  margin: 30px 0px;
  height: 30px;
  width: 100%;
  background-repeat: none;
  background-size: contain;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-5-16 23:23:47
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * @animation flicker-in-2
 * ----------------------------------------
 */
@-webkit-keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flicker-in-2 {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.1% {
    opacity: 1;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  10.2% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  20.1% {
    opacity: 1;
  }
  20.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  30.1% {
    opacity: 1;
  }
  30.5% {
    opacity: 1;
  }
  30.6% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  45.1% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  55% {
    opacity: 1;
  }
  55.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  57.1% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  60.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  65.1% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  75.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  77.1% {
    opacity: 1;
  }
  85% {
    opacity: 1;
  }
  85.1% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86% {
    opacity: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  86.1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .sub-head-flasher {
    width: 70%;
  }

  .marquee {
    font-size: 2.1rem;
  }

  footer .contact {
    width: 100%;
  }
  .starbreak {
    background-size: cover;
  }
}

@media only screen and (max-width: 470px) {
  h2 {
    font-size: 2rem;
  }
  h1 {
    font-size: 8.5rem;
  }
}

@media only screen and (max-width: 370px) {
  h2 {
    font-size: 1.5rem;
  }
  h1 {
    font-size: 6.3rem;
  }
  .marquee {
    font-size: 1.5rem;
  }
  form {
    width: auto;
  }
  footer p {
    font-size: 1.5rem;
  }
  footer h3 {
    font-size: 1.2rem;
  }
  input {
    font-size: 1.1rem;
  }
  textarea {
    font-size: 1.1rem;
  }
}
