@import url("https://use.typekit.net/sdj1mse.css");

@font-face {
  font-family: "Tiny5";
  src: url(/src/fonts/Tiny5-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Avilock";
  src: url(/src/fonts/Avilock\ Bold.ttf);
  font-weight: normal;
  font-style: normal;
}

.App {
  padding: 40px;
  overflow: hidden;
}

body {
  width: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("/src/media/grid.png");
  background-size: contain;
}

a {
  color: inherit;
  text-decoration: inherit;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  list-style: none;
}

h1 {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
  font-weight: 100;
}

h3 {
  margin: 0;
  padding: 0;
}

h4 {
  margin: 0;
  padding: 0;
}

p {
  font-weight: 600;
  font-size: 1rem;
  font-family: "acumin-variable", sans-serif;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

.build-a-button {
  gap: 20px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  bottom: 20px;
  right: 20px;
  background-color: #8faddb;
  border-radius: 50px;
  border: 2px solid black;
  height: 35px;
  padding: 4px 4px 4px 30px;
  font-size: 1.2rem;
  font-weight: 400;
  font-family: "Tiny5";
  text-transform: uppercase;
}

.build-a-button:hover {
  transform: translate(-2px, -2px);
  background-color: #f1e6d8;
  box-shadow: 6px 5px #7291ca, 6px 5px 0 2px black;
}

svg {
  height: inherit;
}

::-moz-selection {
  /* Code for Firefox */

  background: #f7cb3f;
}

::selection {
  background: #f7cb3f;
}

:-ms-input-placeholder {
  color: inherit;
}

::placeholder {
  color: inherit;
}

::-webkit-input-placeholder {
  color: inherit;
}

input:focus {
  outline: none;
}

button {
  background-color: inherit;
  border: none;
}
